
p {
  color: rgb(255, 255, 255);
  width: 500px;
  border: 1px solid rgb(196, 196, 196);
}

html {
  font-size: 15px;
  font-family: "Google Sans", sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #00539f;
  text-shadow: 3px 3px 1px black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

html {
  background-color: #00539f;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

body {
  padding-top: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}